html(dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="pragma" content="no-cache")
    meta(name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Mail - #{content.username}
  body
    ._3z9ix0Ue99trWXkNz-xubm.allowTextSelection
      .rps_b74f
        style(type='text/css').
          <!-- .rps_b74f ax_[x-apple-data-detectors]{
          color: inherit!important; text-decoration: none!important; font-size: inherit!important; font-family: inherit!important; font-weight: inherit!important; line-height: inherit!important; }
          .rps_b74f * img + div{
          display: none!important;
          }
          -->
        div
          div(style='color: rgb(63, 63, 68); font-family: Helvetica, Arial, sans-serif, serif, EmojiFont; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0px; min-width: 100%; padding: 0px; text-align: left; word-break: keep-all; background: rgb(71, 58, 143) !important; width: 100% !important;')
            style(type='text/css').
              <!--  -->
            table.x_body(bgcolor='#473A8F', style='background-color:#473A8F!important; background:#473A8F!important; border-collapse:collapse; border-spacing:0; color:#3F3F44; font-family:helvetica,arial,sans-serif; font-size:14px; font-weight:normal; height:100%; line-height:1.5; margin:0; padding:0; text-align:left; vertical-align:top; width:100%; word-break:keep-all')
              tbody
                tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                  td.x_center(align='center', valign='top', style='margin:0; border-collapse:collapse!important; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0; text-align:left; vertical-align:top; word-break:keep-all; word-wrap:break-word')
                    table.x_container.x_float-center(align='center', style='background:transparent; border-collapse:collapse; border-spacing:0; float:none; margin:0 auto; padding:0; text-align:center; vertical-align:top; width:580px; word-break:keep-all')
                      tbody(style='word-break:keep-all')
                        tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                          td(style='margin:0; border-collapse:collapse!important; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0; text-align:left; vertical-align:top; word-break:keep-all; word-wrap:break-word')
                            table.x_collapse.x_header-logo-img.x_row(style='border-collapse:collapse; border-spacing:0; display:table; padding:0; text-align:left; vertical-align:top; width:100%; word-break:keep-all')
                              tbody(style='word-break:keep-all')
                                tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                                  th.x_small-12.x_large-12.x_columns.x_first.x_last(style='margin:0 auto; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0 auto; padding:0; padding-bottom:0; padding-left:0; padding-right:0; text-align:left; width:597.5px; word-break:keep-all')
                                    table(style='border-collapse:collapse; border-spacing:0; padding:0; text-align:left; vertical-align:top; width:100%; word-break:keep-all')
                                      tbody
                                        tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                                          th(style='margin:0; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0; text-align:left; word-break:keep-all')
                                            center(style='min-width:475px; width:100%; word-break:keep-all')
                                              img.x_float-center(data-imagetype='External', src=content.site_url + 'images/logo-email.png', alt='Heroku', style='border:0; clear:both; display:block; float:none; height:auto!important; margin:0 auto; max-width:100%; outline:none; text-align:center; text-decoration:none; width:578px!important; word-break:keep-all')
                                          th.x_expander(style='margin:0; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0!important; text-align:left; visibility:hidden; width:0; word-break:keep-all')
                    table.x_container.x_float-center(align='center', style='background:transparent; border-collapse:collapse; border-spacing:0; float:none; margin:0 auto; padding:0; text-align:center; vertical-align:top; width:580px; word-break:keep-all')
                      tbody(style='word-break:keep-all')
                        tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                          td(style='margin:0; border-collapse:collapse!important; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0; text-align:left; vertical-align:top; word-break:keep-all; word-wrap:break-word')
                            table.x_content.x_content-top.x_row(style='background-color:#fefefe; border-collapse:collapse; border-radius:6px 6px 0 0!important; border-spacing:0; display:table; padding:0; text-align:left; vertical-align:top; width:100%; word-break:keep-all')
                              tbody(style='word-break:keep-all')
                                tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                                  th.x_small-12.x_large-12.x_columns.x_first.x_last(style='margin:0 auto; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0 auto; padding:0; padding-bottom:35px; padding-left:35px; padding-right:35px; text-align:left; width:545px; word-break:keep-all')
                                    table(style='border-collapse:collapse; border-spacing:0; padding:0; text-align:left; vertical-align:top; width:100%; word-break:keep-all')
                                      tbody
                                        tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                                          th(style='margin:0; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0; text-align:left; word-break:keep-all')
                                            table.x_spacer(style='border-collapse:collapse; border-spacing:0; padding:0; text-align:left; vertical-align:top; width:100%; word-break:keep-all')
                                              tbody(style='word-break:keep-all')
                                                tr(style='padding:0; text-align:left; vertical-align:top; word-break:keep-all')
                                                  td(height='35px', style='margin:0; border-collapse:collapse!important; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:35px; font-weight:normal; line-height:35px; margin:0; padding:0; text-align:left; vertical-align:top; word-break:keep-all; word-wrap:break-word')
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt')
                                              span(style='font-size:14px')
                                                span(style='color:rgb(51,51,51)')
                                                  span#x_docs-internal-guid-28dd90fd-f257-6e47-cd36-a6fc8081d883
                                                    span(style='font-family: Arial, serif, EmojiFont; vertical-align: baseline; white-space: pre-wrap;')
                                                      | Dear 
                                                      strong #{content.username}
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt') &nbsp;
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt')
                                              span(style='font-size:14px')
                                                span(style='color:rgb(51,51,51)')
                                                  span#x_docs-internal-guid-28dd90fd-f257-6e47-cd36-a6fc8081d883
                                                    span(style='font-family: Arial, serif, EmojiFont; vertical-align: baseline; white-space: pre-wrap;') You are invited to make your Family-Profile for the IITK 78-83 Batch  
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt')
                                              span(style='font-size:14px')
                                                span(style='color:rgb(51,51,51)')
                                                  span
                                                    span(style='font-family: Arial, serif, EmojiFont; vertical-align: baseline; white-space: pre-wrap;')
                                                      | You are invited to make a Family-Profile for our upcoming reunion Feb 23-25, 2018 at IITK. We would request every one of our batchmates to complete one which will be used to introduce your family to all who will attending. We will also include it in a time capsule (in the form of a coffee-table book).
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt') &nbsp;
                                              span(style='font-size:14px')
                                                span(style='color:rgb(51,51,51)')
                                                  span
                                                    span(style='font-family: Arial, serif, EmojiFont; vertical-align: baseline; white-space: pre-wrap;')
                                                      | Please click this 
                                                      a(href=content.site_url, target='_blank', rel='noopener noreferrer', style='color:#009fdb') 
                                                      |to complete your profile which should take about an hour by following the template. You can review a few samples to get inspiration.
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt') &nbsp;          
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt')
                                              span(style='font-size:14px')
                                                span(style='color:rgb(51,51,51)')
                                                  span
                                                    span(style='font-family: Arial, serif, EmojiFont; vertical-align: baseline; white-space: pre-wrap;')
                                                      | Once you click the link you will need to find your name on our batch list, click it and enter your email-id (as password) to begin. Collect your thoughts on what you want to say and a few photographs to upload. Put you responses to each of the 7 boxes, proof-read and save. When finished submit your profile before the deadline of Feb 16, 2018.
                                            p(dir='ltr', style='line-height:1.38; margin-top:0pt; margin-bottom:0pt')
                                              img(src=content.site_url + 'images/template.png', alt='template', style='width: 100%')
                                          th.x_expander(style='margin:0; color:#3F3F44; font-family:Helvetica,Arial,sans-serif; font-size:14px; font-weight:normal; line-height:1.5; margin:0; padding:0!important; text-align:left; visibility:hidden; width:0; word-break:keep-all')
            
